$color_1: rgb(0, 0, 0);
$color_2: #fff;
$color_3: #000;
$color_4: rgb(107, 104, 104);
$color_5: #000000;
$color_6: #555;
$color_7: #666;
$color_8: #444;
$color_9: orange;
$color_10: rgb(130, 130, 242);
$color_11: rgb(251, 0, 255);
$font-family_1: "WorkSans";
$font-family_2: 'WorkSans';
$font-family_3: 'Ruso';
$font-family_4: 'Times New Roman', Times, serif;
$background-color_1: #fff;